body {
  margin: 0;
  padding: 0;
}

#container {
  position: relative;
  white-space: nowrap;
  overflow-x: hidden;
}

#canvas {
  width: 50%;
  height: 100%;
  background-color: #0f0;
  overflow-y: hidden;
}

#about {
  position: absolute;
  /* pointer-events: none; */
  background-color: transparent;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  font-family: Consolas, monaco, monospace;
  color: blue;
  width: 50%;
  /* top: 25%; */
  left: 25%;
}

#article-container {
  position: absolute;
  pointer-events: none;
  background-color: transparent;
  width: 50%;
  height: 75%;
  left: 25%;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  font-family: Consolas, monaco, monospace;
  color: blue;
}

.fade-out {
  opacity: 0;
  transition: opacity 1s;
}

.no-pointer-events {
  pointer-events: none;
}
